* {
    font-family: 'Lexend Deca', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}
body {
    background-color: hsl(233, 47%, 7%);
}

.card {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 50px auto;
    text-align: center;
    background-color: hsl(244, 38%, 16%);
}
.background-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background:url(images/image-header-mobile.jpg);
    background-size: cover;
    padding: 20px;
    height: 200px;
   
    background-position: top;
    position:relative;

    
}
.background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(170, 92, 219);
    opacity: 0.6;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;


}


.purple-span {
    color: rgb(170, 92, 219);
}

h1, 
.number {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
} 

   

.business-description {
    color: hsla(0, 0%, 100%, 0.75);
    padding: 0 30px;
    line-height: 28px;
    font-family: 'Inter', sans-serif; 
}
.bottom-word {
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 1px;
}


.attribution {
  font-size: 11px;
  text-align: center;
  color:hsl(0, 0%, 100%)
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


@media (min-width: 650px) {
    .card {
        flex-direction: row-reverse;
        margin: 80px auto;
        height: 70vh;
        
    }
    .background-image::after {
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        


    }
    .background-image {
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        background: url(images/image-header-desktop.jpg);
        height: auto;
        width: 50%;
        background-repeat: no-repeat;
   
    }
    .card-content {
        width: 50%;
        text-align: left;
    }
    h1 {
        padding: 20px 0 0 30px;
    }
    .stats {
        display: flex;
        flex-direction: row;
        margin-left: 30px;
    }
    h2 {
        padding-right: 60px;
        
    }
}
